/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: ;
}

/* Navbar */
header {
  background: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 50px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #ffcc00;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 50px 20px;
  background: #f4f4f4;
}
.hero img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.hero h1 {
  color: #003366;
  margin-bottom: 10px;
}
.hero p {
  color: #666;
  margin-bottom: 20px;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background: #ffcc00;
  color: #003366;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}
.button:hover {
  background: #ff9900;
}

.contact {
  text-align: center;
  margin-top: 50px;
}

.content {
  text-align: center;
  background-color: #666;
  margin: 60px;
  text-decoration: none;
  padding: 40px;
}
img {
  border-radius: 20px;
  max-width: fit-content;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: white;
  color: black;
  margin-top: 50px;
}
