.header h4 {
  line-height: 1;
  margin: 20px;
}
.header h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 1;
  margin: 20px;
}
.header h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  margin: 20px;
}
.header {
  background-image: url("./images/coverimage.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 200px;
  text-align: center;
  color: white;
}

.footer {
  text-decoration: none;
}
